{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
			<div class="col-lg-4">

				<div class="product_image">
					<img class="thumbnail" src="{{product.imageURL}}" alt="">
					{% if product.off is True %}
						<div class="spec_offer text-center"><a href="#">Special Offer</a></div>
					{% endif %}
				</div>
				<div class="box-element product">
					<h6><strong>{{product.name}}</strong></h6>
					<hr>
					<!--  to set attribute with custom attribute in html the format is like this:>  data-attributeName -->
					<button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
					<a class="btn btn-outline-success" href="#">View</a>
					<h4 style="display: inline-block; float: right"><strong>{{product.price}} ₺</strong></h4>

				</div>
			</div>
		{% endfor%}

	</div>

{% endblock content %}
